<div class="text-center">
  <div class="grid place-items-center">
    <%= image_tag 'Birth.png', height: '300', width: '300' %>
  </div>
  <br>
  <h1 class="text-secondary">あなたの誕生月と同じ誕生日の国家を探してみよう！</h1>
</div>