<div class="text-center">
  <div class="grid place-items-center">
  <br>
    <%= image_tag 'Birth.png', height: '300', width: '300' %>
  </div>
  <br>
  <h1 class="text-secondary">あなたの誕生月日と同じ日に生まれた国家を探してみよう！</h1>
  <%= link_to "スタート", new_users_path, class: "btn btn-wide bg-amber-300 hover:bg-red-300 text-white text-xl my-8" %>
</div>