<div class="text-center my-10">
  <div class="grid place-items-center">
  <br>
   <body>
    <p>これはテストです</p>
    <p>あたなの名前は<%= @user.name %>です</p>
    <p>誕生日は<%= @user.birth_date %>です</p>
   </body>
  </div>
</div>
