<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Embed Example</title>
    <style>
        footer {
            position: sticky;
            top: 100vh;
            width: 100%;
            background: #44aa33;
        }
    </style>
</head>
<body>
    <footer class="bg-rose-200 h-12 flex items-center">
     <div class="text-right space-x-2 mx-4 lg:mr-40">
      <%= link_to "https://github.com/Itok1000/birthnation", class: "h-12 w-12 hover:no-underline", target: "_blank" do %>
        <i class="fa-brands fa-square-github fa-xl" style="color: #ffffff;"></i>
      <% end %>
      <%= link_to "https://x.com/Itoken1000", class: "hover:no-underline", target: "_blank" do %>
        <i class="fa-brands fa-square-x-twitter fa-xl" style="color: #ffffff;"></i>
      <% end %>
     </div>
     <div class="absolute left-1/2 transform -translate-x-1/2 items-center">
      <p class="text-white text-center text-2xl m-0">© 2024 Itok1000</p>
     </div>
    </footer>
</body>
</html>
