<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Embed Example</title>
    <style>
        footer {
            position: sticky;
            top: 100vh;
            width: 100%;
            background: #44aa33;
        }
    </style>
</head>
<body>
    <footer class="bg-rose-200 h-12 text-white text-2xl flex items-center">
        <div class='copyright'>
            <p>© 2025. Itoken1000</p>
        </div>
    </footer>
</body>
</html>
